build.*
.config.mk

.cproject
.project
.settings
data/dvb-scan

*.pyc
.*.sw[op]

debian/tvheadend
debian/tvheadend-dbg
debian/files
debian/tvheadend-dbg.debhelper.log
debian/tvheadend-dbg.substvars
debian/tvheadend.debhelper.log
debian/tvheadend.postinst.debhelper
debian/tvheadend.postrm.debhelper
debian/tvheadend.prerm.debhelper
debian/tvheadend.substvars
