.ux-mselect {
    overflow: auto;
    background: #33373d;
    position: relative; /* for calculating scroll offsets */
    zoom: 1;
    overflow: auto;
}

.ux-mselect-item {
    font: normal 15px tahoma, arial, helvetica, sans-serif;
    padding: 2px;
    border: 1px solid #33373d;
    white-space: nowrap;
    cursor: pointer;
}

.ux-mselect-selected {
    border: 3px solid #ff9c33 !important;
    background: #66676d;
    cursor: pointer;
}

a {
    color: #ff9c33
}
