Source: tvheadend
Section: main
Priority: extra
Maintainer: Andreas Öman <andreas@lonelycoder.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: tvheadend
Architecture: any
Depends: ${shlibs:Depends}, libavahi-client3
Recommends: xmltv
Enhances: showtime
Replaces: hts-tvheadend
Homepage: http://www.lonelycoder.com/tvheadend
Description: HTS Tvheadend
 TV backend for use with Showtime, XBMC and various other clients.
 Uses ExtJS 'http://www.extjs.org/'
