#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

%:
	dh $@

override_dh_clean:
	dh_testdir
	dh_testroot
	rm -rf build.*
	dh_clean

override_dh_auto_clean:
	dh_clean

override_dh_auto_configure:
	dh_testdir
	./configure --release --prefix=/usr

override_dh_auto_build:
	$(MAKE)

override_dh_install:
	$(MAKE) prefix=$(CURDIR)/debian/hts-tvheadend/usr install

override_dh_installinit:
	dh_installinit --name tvheadend	

override_dh_strip:
        dh_strip --dbg-package=tvheadend-dbg
