#!/usr/bin/make -f

DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

config.mak: configure
	dh_testdir
	./configure --release --prefix=/usr

clean:  
	dh_testdir
	dh_testroot
	rm -rf build.*
	dh_clean 


build: config.mak
	make

binary:
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	$(MAKE) prefix=$(CURDIR)/debian/hts-tvheadend/usr install
	dh_installchangelogs 
	dh_installinit --name tvheadend
	dh_installdocs
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
