#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

STATE=1 
while [ "$STATE" != 0 -a "$STATE" != 4 ]; do
    case "$STATE" in
    1)
        # Ask for username
        db_input high hts-tvheadend/admin_username || true
    ;;
    
    2)
        # Ask for password
	db_input high hts-tvheadend/admin_password || true
    ;;

    3)
        # Display a final note
	db_input high hts-tvheadend/webinterface || true
    ;;
    esac

    if db_go; then
        STATE=$(($STATE + 1))
    else
        STATE=$(($STATE - 1))
    fi
done

